*{box-sizing: border-box;}
body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
    font-weight:300;
}
/*Styles grid container*/
.container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:220px 220px;
    grid-gap: 2em;
    width: 80%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.background-pattern{
    position: relative;
    border-radius: 1em 1em 0 0;
    height: 80px;
    background-image: url("../assets/icons/icon-play.svg");
    background-repeat: no-repeat;
    background-position:90% 10%;
    z-index: 1;
}

/*Styles contents of the grids*/
.calendar-do:first-child{
    grid-row-start: 2 span;
}

.content{
    top: -30px;
    height: 170px;
    padding: 1.5em;
    background-color: hsl(235, 46%, 20%);
    position: relative;
    z-index: 2;
    border-radius: 1em;
}

.calendar-do:first-child .content{
    position: relative;
    border-radius: 0 0 1em 1em;
    height: 150px;
    top: -8px;
    z-index: 1;
}

.profile-stats{
    position: relative;
    background-color: hsl(246, 80%, 60%);
    height: 70%;
    border-radius:.8em;
    padding: 1.5em;
    z-index: 2;
}

.content-times{
    position: relative;
    top: -5px;
    width: 100px;
}

.icon{
    display: block;
}

/*Sizes of the content inside of the grids-cards*/
.top-options{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.photo-profile{
    display: block;
    width: 90px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 2em;
}

/*Styles of the wordls*/
.times{
    display: block;
    margin: 1em 0;
    color: #fff;
    text-decoration: none;
}

.name-card{
    font-size: 1.1rem;
    font-weight:400;
}

.time-done{
    font-size: 3rem;
}

.name{
    margin: 0;
    font-size: 2.5rem;
}

.last-did{
    font-weight: 300;
}

.time-done,
.name-card,
.name{
    color: #fff;
}

.last-did,
.profile-info{
    color: hsl(236, 100%, 87%);
}

.times{
    font-weight: 400;
    color: hsl(235, 45%, 61%);
}

.times:nth-child(2){
    color: #fff;
}
/*All the hovers patterns*/
.times:hover{
    color: #fff;
}

.content:hover{
    background-color: hsl(235, 46%, 26%);
}

.calendar-do:first-child .content:hover{
    background-color: hsl(235, 46%, 20%);
}

#icon-flama:hover{
    fill: #fff;
}
/*Top pattern cards*/
.calendar-do:nth-child(2) .background-pattern{background-color: hsl(15, 100%, 70%);
    background-image: url("../assets/icons/icon-work.svg");}
.calendar-do:nth-child(3) .background-pattern{background-color: hsl(195, 74%, 62%);
    background-image: url("../assets/icons/icon-play.svg");}
.calendar-do:nth-child(4) .background-pattern{background-color: hsl(348, 100%, 68%);
    background-image: url("../assets/icons/icon-study.svg");}
.calendar-do:nth-child(5) .background-pattern{background-color: hsl(145, 58%, 55%);
    background-image: url("../assets/icons/icon-exercise.svg");}
.calendar-do:nth-child(6) .background-pattern{background-color: hsl(264, 64%, 52%);
    background-image: url("../assets/icons/icon-social.svg");}
.calendar-do:last-child .background-pattern{background-color: hsl(43, 84%, 65%);
    background-image: url("../assets/icons/icon-self-care.svg");}